html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

body {
  background: #fafbfd;
  background: linear-gradient(to right, #fafbfd, #fff);
}



/* font Google */
* {
  font-family: "GoogleSans-Light";
}