/* IMAGE CONTAIN */
.image_inner_container img{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: 3px solid white;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
   position: absolute !important;
}

/* font Google */
* {
   font-family: "GoogleSans-Light";
}