<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>

                        <!-- PASAMOS TODO EL FORMULARIO AL TYPESCRIPT E IMPORTAMOS FormsModule EN APP.MODULE.TS -->
                        <form class="form-signin" (ngSubmit)="onSubmitForm(f)" #f="ngForm">

                            <div class="form-label-group">
                                <input type="text" name="inputUsername" id="inputUsername" class="form-control"
                                    placeholder="Username" ngModel required autofocus>
                                <label for="inputUserame">Username</label>
                            </div>

                            <div class="form-label-group">
                                <input type="email" name="inputEmail" id="inputEmail" class="form-control"
                                    placeholder="Email address" ngModel required>
                                <label for="inputEmail">Email address</label>
                            </div>

                            <hr>

                            <div class="form-label-group">
                                <input type="password" name="inputPassword" id="inputPassword" class="form-control"
                                    placeholder="Password" ngModel required>
                                <label for="inputPassword">Password</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" name="inputConfirmPassword" id="inputConfirmPassword"
                                    class="form-control" placeholder="Password" ngModel required>
                                <label for="inputConfirmPassword">Confirm password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Register</button>

                            <a class="d-block text-center mt-2 small" [routerLink]="['/login']"
                                routerLinkActive="router-link-active">Sign In</a>

                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                    class="fab fa-google mr-2"></i> Sign up with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                    class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
                        </form>


                        <div *ngIf="register" class="alert alert-success" role="alert">
                            Verification email was sent!
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>